<mat-list>
  @for( platillo of platillos; track platillo)
  {
    <mat-list-item  >
      <img  matListItemAvatar src="{{ platillo | platilloImagen | async }}" />
      <span matListItemTitle >
        <button   mat-icon-button class="icon-borrar"  (click)="abirBorrarPlatillo(platillo)">
          <mat-icon >delete</mat-icon>
        </button>
        @if(platillo.recomendado === true)
        {
          <mat-icon class="icon-recomendado" >
            eco
          </mat-icon>
        }
      {{platillo.nombre}} - ${{platillo.precio}}
      </span>
    <span matListItemLine  >{{platillo.descripcion}}</span>

    </mat-list-item>

  }
</mat-list>
