.platillo-card{
  max-width: 100vw;
}
.platillo-header-image {
  background-size: cover;

}
.img-card {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}
.container{
  padding: 24px ;
}
