<form class="flex flex-col" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
    formControlName="email"
    matInput
    type="email" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput [type]="hide() ? 'password' : 'text'" />
    <span style="padding:10px"
    matIconButton
    matSuffix
    (click)="showPass($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
      >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </span>
  </mat-form-field>

  <button matButton="filled">Login</button>


</form>


